<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}"
      th:with="activePage='result'">
</head>
<body>

<div layout:fragment="content">

	<div class="config-wrapper" style="position: relative;">
		<div class="section-wrapper start-section active">
	  		<div class="filters" aria-label="검색 필터">
			      <h4>API 실행 결과 조회</h4>
  				  <div id="resultTable">데이터 로딩 중...</div>

			</div>
		</div>
	</div>
</div>
<!-- pageScript 프래그먼트로 스크립트 채우기 -->
<th:block layout:fragment="pageScript">
<script>

window.addEventListener('DOMContentLoaded', () => {
    const container = document.getElementById('resultTable');
    container.innerHTML = '';
    container.appendChild(jsonToTable(jsonData));
  });
</script>
</th:block>
</body>
</html>