<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}"
      th:with="activePage='add'">

<body>

<div layout:fragment="content">

<div class="main-content">
    <!-- 프로젝트 리스트 -->
    <div class="section-wrapper start-section active">
        <div class="section-header">
            <h2>프로젝트</h2>
        </div>
        <table>
            <thead>
                <tr>
                    <th style="width: 40px;"></th>
                    <th>프로젝트 ID</th>
                    <th>프로젝트 명</th>
                    <th>설명</th>
                </tr>
            </thead>
            <tbody>
            	<tr th:each="project : ${projectList}">
            		<td><input type="checkbox" name="projectCheckbox" th:value="${project.projectId}" onchange="highlightRow(this)"></td>
					<td th:text="'P'+${project.projectId}"></td>
                	<td th:text="${project.projectName}"></td>
                	<td th:text="${project.projectExplain}"></td>
                </tr>
            </tbody>
        </table>

        <div class="buttons">
            <button onclick="alert('등록 팝업 열기')">등록</button>
            <button type="button" class="btn btn-danger" onclick="alert('선택된 프로젝트 삭제')">삭제</button>
        </div>
    </div>
</div>

</body>
</html>