<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.example.mapper.CustomMapper">
	
	<!-- baseUrl 찾기 -->
	<select id="getBaseUrl" parameterType="long" resultType="egovframework.example.vo.CustomVO">
		SELECT baseUrl from source
		WHERE sourceId = #{sourceId}
	</select>
	
	<!-- 사용자 URL 등록 -->
	<insert id="createCustomFullUrl" parameterType="egovframework.example.vo.CustomVO">
		INSERT INTO test.custom
			(sourceId, customFullUrl)
		VALUES
			(#{sourceId}, #{customFullUrl})	
	</insert>

	<!-- fullUrl 찾기 createdAt을 사용해 제일 최신걸 불러오기-->
	<select id="getFullUrl" parameterType="long" resultType="egovframework.example.vo.CustomVO" useCache="false">
	    SELECT customFullUrl
	    FROM custom
	    WHERE sourceId = #{sourceId}
	    ORDER BY createdAt DESC
	    LIMIT 1
	</select>
	
</mapper>