<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.example.mapper.OutputMapper">


	<!-- 출력항목 조회 -->
	<select id="getAllList" parameterType="long" resultType="egovframework.example.vo.OutputVO">
		SELECT * FROM test.output
		WHERE sourceId = #{sourceId}
	</select>
	
	<!-- 출력항목 등록 -->
	<insert id="insertOutput" parameterType="egovframework.example.vo.OutputVO">
		INSERT INTO test.output
			(outputKey, outputValue, sourceId, reqParam, outputExplain)
		VALUES
			(#{outputKey}, #{outputValue}, #{sourceId}, #{reqParam}, #{outputExplain})
	</insert>	
	
	<!-- 출력항목 삭제 -->
	<update id="deleteOutput" parameterType="long">
		UPDATE test.output
		SET isDeleted = false
		WHERE outputId = #{outputId}
	</update>
	
	<!-- sourceId 가져오기 -->
	<select id="findBySourceId" resultType="egovframework.example.vo.OutputVO">
		SELECT * FROM test.output
		WHERE sourceId = #{sourceId}
	</select>
</mapper>