<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.example.mapper.SourceMapper">
	
	<!-- 소스 조회 -->
	<select id="getAllList" parameterType="long" resultType="egovframework.example.vo.SourceVO">
		SELECT * FROM test.source
		WHERE projectId = #{projectId}
	</select>
	
	<!-- 소스 입력 -->
	<insert id="insertSource" parameterType="egovframework.example.vo.SourceVO">
		INSERT INTO test.source
			(sourceName, baseUrl, fullUrl, projectId)
		VALUES
			(#{sourceName}, #{baseUrl}, #{fullUrl}, #{projectId})
	</insert>
	
	<!-- 소스 삭제 -->
	<update id="deleteSource" parameterType="long">
		UPDATE test.source
		SET isDeleted = true
		WHERE sourceId = #{sourceId}
	</update>
	
	<!-- baseUrl 불러오기 -->
	<select id="findBasicUrl" parameterType="long" resultType="egovframework.example.vo.SourceVO">
		SELECT * FROM test.source
		WHERE sourceId = #{sourceId}
	</select>
	
	<!--  -->
</mapper>